{% extends 'project/base.html' %}

{% block content %}
<style>
.icon-box {
                  padding: 20px;
                  color: #5f687b;
                  background: #f9f9fa;
                  border-radius: 4px;
                  border: 1px solid #f9f9fa;
                  transition: 0.3s;
           }

li.5 {
    list-style-type : disc;
}
</style>
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    <i class="fa fa-user-md"></i>
                    Introduction
                </h3>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="{% url 'introduction' %}">Home</a>
                    </li>
                    <li>
                        <i class="icon_documents_alt"></i>Pages
                    </li>
                    <li>
                        <i class="fa fa-user-md"></i>Introduction
                    </li>
                </ol>
            </div>
            <div>
                <section id="hero" class="d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div>
                                <h1>5G mmWave Path Loss Predictive Modeling in Urban Area Based on CNNs</h1>
                                <ol class="breadcrumb">
                                    <li>
                                        진우빈 김현진 양준혁 서민규 이혁준
                                    </li>
                                </ol>
                                <div class="d-flex">
                                    <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q"
                                       class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> 발표
                                        영상 <i class="icofont-play-alt-2"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 hero-img">
                                <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
                            </div>
                        </div>
                    </div>

                </section><!-- End Hero -->

                <main id="main">

                    <!-- ======= Featured Services Section ======= -->
                    <section id="featured-services" class="featured-services">
                        <div class="container">

                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="icon-box">
                                        <div class="icon"><i class="icon_genius">
                                        <h4 class="title">개발 동기</h4></i></div>
                                        <p class="description">밀리미터파는 도심의 복잡한 환경에 쉽게 영향을 받아 기존의 실증적인 방법을 이용하여 경로 손실을 예측하는 데에 많은 계산량 등의 한계가 존재한다</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                                    <div class="icon-box">
                                        <div class="icon"><i class="icon_genius">
                                        <h4 class="title">개발 목표</h4></i></div>
                                        <p class="description">도심지에서 CNN을 기반으로 28 GHz 대역폭의 밀리미터 경로 손실 모델 방법을 제시한다.
                                            <br>3D-LAMS를 이용하여 CNN의 입력 이미지를 만들어 경로 손실 환경 정보를 모델의 학습에 이용한다.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                                    <div class="icon-box">
                                        <div class="icon"><i class="icon_genius">
                                        <h4 class="title">향후 전망</h4></i></div>
                                        <p class="description">전망이 없다</p>
                                    </div>
                                </div>
                            </div>
                            {% load static%}
                        <img src="{%static 'img/System_Intro.png' %}" width="450" height="250">
                        </div>
                    </section><!-- End Featured Services Section -->
            </div>
        </div>
        <!-- page end-->
    </section>
</section>
{% endblock %}