{% extends 'project/base.html' %}

{% block content %}
<section id="main-content">
  <section class="wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-user-md"></i> Path Loss Predict </h3>
        <ol class="breadcrumb">
          <li><i class="fa fa-home"></i><a href="{% url 'introduction' %}">Home</a></li>
          <li><i class="icon_documents_alt"></i>Pages</li>
          <li><i class="fa fa-user-md"></i>Path Loss Predict</li>
        </ol>
      </div>
    </div>

    <section id="main-content">
      <section class="wrapper">
        <!--overview start-->






        <!-- statics end -->


        <div class="col-md-6 portlets">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="pull-left">AP setting</div>
              <div class="widget-icons pull-right">
                <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
                <a href="#" class="wclose"><i class="fa fa-times"></i></a>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="panel-body">
              <div class="padd">

                <div class="form quick-post">
                  <!-- Edit profile form (not working)-->
                  <form method="POST" action="{% url 'path_loss_predict' %}" class="form-horizontal">
                    {% csrf_token %}

                    <div class="form-group">
                      <label class="control-label col-lg-2" for="title">X coordinate</label>
                      <div class="col-lg-10">
                        {{ form.x_coord }}
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-lg-2" for="title">Y coordinate</label>
                      <div class="col-lg-10">
                        {{ form.y_coord }}
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-lg-2" for="title">Z coordinate</label>
                      <div class="col-lg-10">
                        {{ form.z_coord }}
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-lg-2" for="title">Azimuth</label>
                      <div class="col-lg-10">
                        {{ form.azimuth }}
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-lg-2" for="title">Downtilt</label>
                      <div class="col-lg-10">
                        {{ form.downtilt }}
                      </div>
                    </div>


                    <!-- Buttons -->
                    <div class="form-group">
                      <!-- Buttons -->
                      <div class="col-lg-offset-2 col-lg-9">
                        <button type="submit" class="btn btn-primary">Predict</button>
                      </div>
                    </div>
                  </form>
                </div>


              </div>
              <div class="widget-foot">
                <!-- Footer goes here -->
              </div>
            </div>
          </div>

        </div>

        </div>
        <!-- project team & activity end -->

      </section>

    </section>
    <!--main content end-->
  </section>
  {% endblock %}