 {% extends 'project/base.html' %} {%load static%} {% block content %}
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    <i class="fa fa-user-md"></i> Visualization
                </h3>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="{% url 'introduction' %}">Home</a>
                    </li>
                    <li>
                        <i class="icon_documents_alt"></i>Pages</li>
                    <li>
                        <i class="fa fa-user-md"></i>Visualization</li>

                </ol>
              
                    <table class="table">
                        <tr>
                            <th>#</th>
                            <th>Lantitude</th>
                            <th>Longitude</th>
                            <th>Antena Height</th>
                            <th>Azimuth</th>
                            <th>Downtilt</th>
                            <th>Result</th>
                        </tr>
                        {% for detail in details%}
                        <tr>
                            <td>{{ detail.ap_idx }}</td>
                            <td>{{ detail.x_coord }}</td>
                            <td>{{ detail.y_coord }}</td>
                            <td>{{ detail.z_coord }}</td>
                            <td>{{ detail.azimuth }}</td>
                            <td>{{ detail.downtilt }}</td>
                            <td><a class="btn btn-primary" href="{% url 'visualization_detail' pk=detail.pk %}">결과</a></td>
                        <tr>
                        {% endfor %}
                    </table>

            </div>
        </div>

        <!-- page end-->
    </section>
</section>

{% endblock %}