 {% extends 'project/base.html' %} {% block content %}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    <i class="fa fa-user-md"></i> Visualization
                </h3>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="{% url 'introduction' %}">Home</a>
                    </li>
                    <li>
                        <i class="icon_documents_alt"></i>Pages</li>
                    <li>
                        <i class="fa fa-user-md"></i>Visualization</li>

                </ol>
                
                {% for detail in details %}
                    <div>
                        <div><p>{{ detail.ap_idx }}</p></div>
                        <h1><a href="{% url 'visualization_detail' pk=detail.pk %}">{{ detail.x_coord }}</a></h1>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- page end-->
    </section>
</section>
{% endblock %}